.class-card {
    background-color: #000;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
}

.class-card__images {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.class-card__images img {
    width: 50%;
    object-fit: cover;
    height: 230px;
    border: 1px solid black
}

.class-card__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.class-card__image--dimmed {
  filter: brightness(0.5);
}

.class-card__category {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: rgb(255, 255, 255);
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.class-card__info {
    padding-top: 0.5rem;
    text-align: left;
}

.class-card__name {
    font-weight: bold;
    font-size: 1.1rem;
}

.class-card__rating {
    font-size: 0.9rem;
    color: #ffd700;
}

.class-card__location,
.class-card__price {
    font-size: 0.85rem;
    margin-top: 0.2rem;
}

.class-card__price {
    font-weight: bold;
}


.class-card__description {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.class-card__time-row {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
  color: #ffffff;
  margin-top: 0.4rem;
}

.class-card__time-item {
  display: inline-flex;
  align-items: center;
  gap: 0.1rem;
  flex-shrink: 0;
}

.class-card__time-item .material-symbols-outlined {
  font-size: 14px;
  margin-top: 1px;
  color: #ffffff;
}

.class-card-opinion-txt{
  color: #bbb;
}
