.trainer-class-card {
  background-color: #000;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
}

.trainer-class-card__images {
  position: relative; 
}

.trainer-class-card__images img{
  width: 100%;
  height: 230px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 10px;
}

.trainer-class-card__category {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  position: relative;
}

.trainer-class-card__day {
  font-size: 1.9rem;
  color: #ccc;
  margin-left: 0.8rem;
}

.trainer-class-card__info {
  padding-top: 1rem;
  text-align: left;
}

.trainer-class-card__time {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.3rem;
  color: #ffffff;
}

.trainer-class-card__actions {
  margin-top: 0.7rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.trainer-class-card__actions button {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #000000;
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  border: 0.5px solid;
  border-color: white;
}

.trainer-class-card__actions button:hover {
  background-color: #444;
  transition: 0.2s;
}

.dots-button {
  position: absolute;
  margin-top: 0%;
  right: 0px;
  background: rgba(0, 0, 0, 0.776);
  border-radius: 0px 10px 0px 15px;
  max-width: 40px;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 2;
  padding-bottom: 0%;
}

.menu-popup {
  position: absolute;
  right: 10px;
  background: rgba(44, 43, 43, 0.856);
  border-radius: 8px 0px 8px 8px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
  z-index: 100;
  display: flex;
  gap: 8px;
  flex-direction: column;
  min-width: 200px;
  padding: 0.5rem ;
}

.menu-popup button {
  color: #FFFFFF;
  font-weight: 300;
  background: rgb(25, 25, 25);
  border: none;
  padding: 0.25rem 0.5rem;
  margin: 0px;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  gap: 2px;
}

.menu-popup button:hover {
  background: #565656;
}

.menu-simbols {
  font-size: 18px;
}

.trainer-class-card__schedules {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
}

.trainer-class-card__schedule-item {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  flex-shrink: 0;
}

.schedule-icon{
  font-size: 15px;
}